body {
    font-family: sans-serif;
}

h1 {
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
    background-color: rgb(190, 217, 226);
    border-radius: 16px;
}

.project-container {
    flex: 1;
    background-color: rgb(5, 115, 179);
    padding: 16px;
    border: 1px solid black;
}

.note-container {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.note-manager {
    padding: 16px;
    border: 1px solid black;
    border-left: 0;
    border-radius: 0 16px 16px 0;
}

.note-full {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.new-note-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.note {
    min-height: 70px;
    background-color: grey;
    padding: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    word-wrap: break-word;
}

.note-title {
    margin: 0;
}

.note p {
    margin: 0;
}

.prio-circle {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    border: 1px outset black;
}

.notes {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.note-header-container {
    display: flex;
    justify-content: space-between;
}