body {
    font-family: sans-serif;
}

h1 {
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
    background-color: rgb(190, 217, 226);
    border-radius: 16px;
}

.project-container {
    flex: 1;
    background-color: rgb(5, 115, 179);
}

.project-title {
    margin: 16px;
    text-align: center;
}

.note-container {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.note-manager {
    padding: 16px;
    border-left: 0;
    border-radius: 0 16px 16px 0;
}

.note-full {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.new-note-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;
}

.new-note-button-container {
    display: flex;
    margin-top: 8px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.note {
    min-height: 70px;
    background-color: grey;
    padding: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    word-wrap: break-word;
    border: 1px solid transparent;
}

.note:hover {
    border: 1px solid black;
}

.note-title {
    margin: 0;
}

.note p {
    margin: 0;
}

.prio-circle {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    border: 1px outset black;
}

.notes {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.note-header-container {
    display: flex;
    justify-content: space-between;
}

.note-options-container {
    display: flex;
    justify-content: space-between;
}

.remove-note-button {
    width: 25px;
    height: 25px;
    background-color: #e0041a;
    border-radius: 50%;
    border: none;
}

.remove-note-button:hover {
    background-color: #d12837;
}

.add-note {
    width: 28px;
    height: 28px;
    background-color: #02c41f;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.add-note:hover {
    background-color: #02e324;
}

.check-note {
    width: 25px;
    height: 25px;
    background-color: silver;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 22px;
    text-align: center;
    color: green;
    cursor: default;
}

.check-note:hover {
    background-color: #d1cfcf
}

.projects-list {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.project {
    padding: 8px;
    word-wrap: break-word;
    display: flex;
    justify-content: space-between;
}

.project:hover {
    background-color: silver;
}

.add-project {
    width: 28px;
    height: 28px;
    background-color: #02c41f;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    font-weight: 700;
    margin-top: 4px;
}

.project-add-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-input {
    margin: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
}

#proj {
    padding: 0;
    height: 22px;
    border: none;
}

.project-add-confirm {
    width: 28px;
    height: 28px;
    background-color: transparent;
    color: rgb(39, 226, 39);
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.project-add-confirm:hover {
    color:rgb(60, 255, 60)
}

input[type=text], input[type=date], select {
    background-color: rgb(255, 255, 255);
    height: 20px;
    border: none;
    padding: none;
    margin: none;
    border-radius: 8px;
}

.delete-proj {
    width: 18px;
    height: 18px;
}